<% a_class = defined?(animation_class) ? animation_class : '' %>

<div class="row border-bottom py-2 align-items-center <%= a_class %>">
  <div class="col-4 col-sm-3 col-md-2">
    <%= link_to tag.i('', class: 'fa fa-lg fa-info-circle'), post_path(post),
      class: "me-2 btn btn-link", alt: "Show #{post.title}" %>
    <%= link_to tag.i('', class: 'fa fa-lg fa-edit'), edit_post_path(post),
      class: "me-2 btn btn-link", alt: "Edit #{post.title}",
      "data-domid": dom_id(post),
      "data-id": post.id, "data-action": "post-modal#showFormModal" %>

      <a href="#" alt="Delete <%= post.title %>"
        data-action="post-modal#confirm"
        data-title="Delete this Post?"
        data-message="<p>Are you sure you want to delete the post &quot;<%= post.title %>&quot;?<p>"
        data-ok-button="Delete Post"
        data-do-action="post-modal#deleteConfirmed"
        data-cancel-action="post-modal#closeTheModal"
        data-url="<%= post_path(post) %>"
        data-domid="<%= dom_id(post) %>"
        >
        <i class="fa fa-lg fa-trash"></i>
      </a>
  </div>
  <div class="col-5 col-sm-6 col-md-4">
    <%= post.title %>
  </div>
  <div class="col-3 col-sm-3 col-md-4">
    <%= post.body %>
  </div>
</div>
